<p-table
        #tt
        [columns]="columns"
        [value]="data"
        [paginator]="true"
        [responsive]="true"
        [rows]="20"
        [dataKey]="dataKey"
        *ngIf="data.length>0"
>

  <ng-template pTemplate="loadingBody">
    <div class="flex justify-center text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>


  <ng-template *ngIf="globalSearch" pTemplate="caption">
    <span class="pr-3">Search</span>
    <input type="text" pInputText size="30" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')"/>
  </ng-template>

  <ng-template pTemplate="header" let-columns >
    <tr>
      <th *ngIf="extraColumns !==undefined" class="w-10"></th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">

        <div class="flex">
          <ion-item>
            <ion-label position="floating">{{col.header}}</ion-label>
            <ion-input pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)"></ion-input>
          </ion-item>
          <p-sortIcon class="" [field]="col.field"></p-sortIcon>
        </div>
      </th>
    </tr>

  </ng-template>

  <ng-template pTemplate="body" let-data let-columns="columns" let-expanded="expanded">
    <tr >

      <td *ngIf="extraColumns !==undefined">
        <a href="#" [pRowToggler]="data">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of columns" [ngSwitch]="col.type">
        <span *ngSwitchCase="'date'">{{data[col.field] | date:'short'}}</span>
        <span *ngSwitchCase="'link'"><span class="font-bold">{{col.field}}</span> {{col.field}}: <a href="data[col.field]">{{data[col.field]}}</a></span>
        <span *ngSwitchDefault>{{data[col.field]}}</span>
      </td>

    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-data let-columns="extraColumns">
    <tr>
      <td [attr.colspan]="extraColumns.length + 1" >
        <div class="p-1 pl-10 border-b border-gray-300" *ngFor="let col of extraColumns" [ngSwitch]="col.type">
          <span *ngSwitchCase="'date'"><span class="font-bold">{{col.field}}</span> {{data[col.field] | date:'short'}}</span>
          <span *ngSwitchCase="'link'"><span class="font-bold">{{col.field}}</span> {{col.field}}: <a href="data[col.field]">{{data[col.field]}}</a></span>
          <span *ngSwitchDefault><span class="font-bold">{{col.field}}</span> {{col.field}}: {{data[col.field]}}</span>
        </div>
      </td>
    </tr>
  </ng-template>


  <ng-template pTemplate="summary">

    <p *ngIf="data && data.length > 0">
      Total rows: {{data.length}}
    </p>
  </ng-template>


</p-table>

<div *ngIf="data.length===0">
  <p class="border border-gray-500 b-gray-100 p-4 text-center">No data in table</p>
</div>
