<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Boilerplate</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <ion-item-group class="mt-4">

        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <ion-item
                    [routerLink]="p.url"
                    routerDirection="root"
                    [class.active-item]="selectedPath.startsWith(p.url)">
              <ion-label>
                <ion-icon name="{{p.icon}}"></ion-icon>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-item-group>



    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
