// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import '~primeng/resources/primeng.min.css';
@import "../styles.css";

ion-item {
  // background-color: transparent !important; // to remove
  --background: none;
  opacity:1;
}


.label-floating.sc-ion-label-md-h, .label-stacked.sc-ion-label-md-h {
  z-index: 3;
}

.ui-table-thead tr th {
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid #c8c8c8 !important;
}
.ui-table .ui-sortable-column.ui-state-highlight {
  background-color: transparent !important;
  color: inherit !important;

}

.ui-table-tbody > tr {
  border: none !important;
  border-left: 1px solid #c8c8c8 !important;
  border-right: 1px solid #c8c8c8 !important;

}

.ui-table-tbody > tr > td {
  border: none !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.ui-sortable-column-icon {
  margin-top: 1.6rem;
}

.ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  color: cornflowerblue !important;

}

@media screen and (max-width: 70em) {
  .mv-text-container{
    white-space: normal !important;
    text-overflow: initial !important;
    overflow: auto !important;
  }
  .ui-table table {
    width: 100%;
  }

  .ui-table-tbody {
    border-top: 1px solid #c8c8c8 !important;
  }
  .ui-table-responsive .ui-table-thead > tr > th,
  .ui-table-responsive .ui-table-tfoot > tr > td {
    display: none !important;
  }

  .ui-table-responsive .ui-table-tbody > tr > td {
    text-align: left !important;
    display: block !important;
    border: 0 none !important;
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    float: left !important;
    clear: left !important;

    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;

  }

  .ui-table-responsive .ui-table-tbody > tr > td .ui-column-title {
    padding: .4em !important;
    min-width: 30% !important;
    display: inline-block !important;
    margin: -.4em 1em -.4em -.4em !important;
    font-weight: bold !important;
  }



  tr > td {
    text-align: left !important;
    border: 0px !important;
    padding-left: 15px !important;
  }

  tr > th > {
    border: 0px !important;
    text-align: left !important;
  }

  tr {
    border: 1px solid #D5D5D5 !important;
  }

  tr > td:last-child {
    padding-bottom: 15px !important;
    margin-bottom: 0 !important;
  }

  tr > td:first-child {
    padding-top: 15px !important;
  }
}
